<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# image: http://ogp.me/ns/image#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="metadata TP">
    <meta name="author" content="Maxime Lainé, Solène Dorey, Habit Jérémy">
    <link rel="icon" type="image/x-icon" href=""/>

    <title>{% block title %}{% endblock %} : Meta Data Js</title>

    {% block meta %}{% endblock %}

    <!-- css -->
    <link rel="stylesheet" href="/public/css/vendors/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/vendors/magic-monkey.min.css" type="text/css"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css">
    <link rel="stylesheet"
          href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    {% block css %}{% endblock %}

    {# js #}
    {% block js %}{% endblock %}

</head>
<body>

<!-- @@@ HEADER @@@ -->
<header id="header"
        class="fixed-column-left padding-30 padding-0-l color-yang bg-charcoal sticky-l">

    <!-- title -->
    <div class="row align-center flex-y-center">


        <div class="cell-12 c-4-l">
            <h1 class="margin-0-top margin-0-l txt-size-jumbo txt-size-giant-xl txt-size-big-l txt-size-medium-s txt-size-normal-xs txt-capitalize txt-unset">
                <a href="/" class="inline-block" title="Accueil">
                    <span class="color-amethyst">meta data</span>
                    <span>js</span>
                </a>
            </h1>
        </div>


        <!-- links -->
        <div class="cell-6 c-4-l flex-item-order-0-l align-center">
            <a href="/upload" title="Ajouter une image"
               class="block bg-wisteria hover-bg-amethyst padding padding-10-s transition-2">
                <span class="hide-xs">Ajouter</span>
                <span class="hide show-xs">+</span>
            </a>
        </div>
        <div class="cell-6 c-4-l align-center">
            <a href="/technical-page" title="Page technique"
               class="color-yang block bg-concrete hover-bg-silver padding padding-10-s transition-2">
                <span class="hide-xs">Page technique</span>
                <span class="hide show-xs">?</span>
            </a>
        </div>


    </div>

    <div class="hide-l">
        <hr class="customEllipse width-70 margin-50-top">

        <!-- description -->
        <div class="row">
            <div class="cell-12 anim-forward align-center">
                <h2 class="txt-unset txt-size-big">
                    <span>Auteurs</span>
                </h2>
                <ul class="list-unstyled txt-size-medium">
                    <li class="padding">
                        <span class="color-amethyst">&#10022;</span>
                        Maxime Lainé
                    </li>
                    <li class="padding">
                        <span class="color-amethyst">&#10022;</span>
                        Solène Dorey
                    </li>
                    <li class="padding">
                        <span class="color-amethyst">&#10022;</span>
                        Jérémy Habit
                    </li>
                </ul>
            </div>
        </div>

        <!-- GITHUB-->
        <div class="row margin-50-top">
            <div class="cell-12 align-center anim-forward">
                <a class="inline-block txt-size-jumbo padding round border hover-border-silver transition-2"
                   href="https://github.com/dayze/metadata-js"
                   title="Metadata js GitHub" target="_blank">
                    <i class="devicon-github-plain-wordmark"></i>
                </a>
            </div>
        </div>
    </div>


</header>

<!-- @@@@@ MAIN @@@@@ -->

{% block body %}{% endblock %}


{% block script %}
{% endblock %}

</body>
</html>
