{% extends "base.twig" %}

{% block title %}Page technique{% endblock %}

{% block body %}
    <main>

        <div class="row padding-50 padding-s align-center border-bottom border-silver">
            <div class="cell-12 anim-fall">
                <h1 class="margin-0 txt-size-big txt-unset">
                    <span class="color-amethyst hide-s">&#10022;</span>
                    <span class="inline-block">Page technique</span>
                </h1>
            </div>
        </div>
        <section class="overlay anim-climb container margin-auto margin-50-top">
            <div class="row">
                <div class="cell-12">
                    <h2 class="margin-0-top txt-unset">Technologies utilisées</h2>
                </div>
            </div>
            <div class="row">
                <div class="cell-12">
                    <h2 class="margin-0-top margin-30-bottom txt-unset">Les compléments réalisés (3/5)</h2>

                    <h4 class="color-amethyst">
                        Page d'accueil et microdata
                    </h4>
                    <ul>
                        <li>
                            <p>Description : La page d'accueil affiche les titres et auteurs des photos et contient les
                                métadonnées
                                correspondantes.</p>
                        </li>
                        <li>
                            <p>Commentaire : Le titre, l'auteur et la description d'une image sont affichés lorsqu'elle
                                est survolée
                                par la souris de l'utilisateur.</p>
                        </li>
                    </ul>

                    <h4 class="color-amethyst">
                        Recherche d'images sur Flickr
                    </h4>
                    <ul>
                        <li>
                            <p>Description : Sur la page de détails d'une image, un utilisateur peut chercher des images
                                sur Flickr
                                qui seraient liées à l'image visualisée. Le critère de liaison peut être les mots-clés,
                                le titre, la géolocalisation, etc.</p>
                        </li>
                        <li>
                            <p>Commentaire: Sur la page de détails d'une image, se trouve le boutton "Plus d'images sur
                                Flickr". Ce
                                dernier fait apparaître un modal contenant exactement 20 images récupérées via l'api
                                Flickr. Le critère de liaison est le titre de l'image visualisée.</p>
                        </li>
                    </ul>

                    <h4 class="color-amethyst">
                        Optimisation
                    </h4>
                    <ul>
                        <li>
                            <p>Description : Ajouter à l'application une optimisation afin que les métadonnées ne soient
                                pas
                                extraites des images à chaque affichage. Cette optimisation doit être faite sans base de
                                données.</p>
                        </li>
                        <li>
                            <p>Commentaire : Lorsqu'une image est ajoutée, les metadonnées de celle-ci sont stockées
                                dans un fichier
                                au format Json. Ainsi, à chaque affichage, les metadonnées ne sont pas extraites mais
                                lues dans dans le fichier Json correspondant.</p>
                        </li>
                    </ul>


                </div>
            </div>
        </section>
    </main>

{% endblock %}