{% extends "base.twig" %}

{% block title %}Page technique{% endblock %}

{% block body %}
    <main>

        <div class="row padding-50 padding-s align-center border-bottom border-silver">
            <div class="cell-12 anim-fall">
                <h1 class="margin-0 txt-size-big txt-unset">
                    <span class="color-amethyst hide-s">&#10022;</span>
                    <span class="inline-block">Page technique</span>
                </h1>
            </div>
        </div>
        <section class="overlay anim-climb container margin-auto margin-50-top">
            <div class="row">
                <div class="cell-12">
                    <h2 class="margin-0-top txt-unset">Technologies utilisées</h2>
                </div>
            </div>
            <div class="row">
                <div class="cell-12">
                    <h2 class="margin-0-top txt-unset">Difficultés rencontrées</h2>
                </div>
            </div>
        </section>
    </main>

{% endblock %}