{% extends "base.twig" %}

{% block title %}Upload{% endblock %}

{% block body %}

    <main class="anim-fall overlay bg-clouds">

        {% if upload is defined %}
            <p>C'était pas une image!</p>
        {% endif %}
        <p>File uploaded successfully!</p>

    </main>
{% endblock %}