{% extends "base.twig" %}

{% block title %}Upload{% endblock %}

{% block body %}

    <main class="anim-fall overlay bg-clouds">

        <p>File uploaded successfully!</p>

    </main>
{% endblock %}