{% extends "base.twig" %}

{% block title %}Ajout d'une image{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/public/css/components/myDropzone.css" type="text/css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/public/js/myDropZone.js"></script>
    <script src="/public/js/closeModal.js" type="text/javascript"></script>
{% endblock %}

    {% block body %}

        <main>
            {% if error is defined %}
            {# ERROR CASE #}
            <div class="row modal-container">
                <div class="cell-12">
                    <p class="note-error">
                        Une erreur est survenue lors de l'upload de l'image...
                        <span class="float-right margin-5-right cursor-pointer modal">X</span>
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="row padding-50 padding-s align-center border-bottom border-silver">
                <div class="cell-12 anim-fall">
                    <h1 class="margin-0 txt-size-big txt-unset">
                        <span class="color-amethyst hide-s">&#10022;</span>
                        <span class="inline-block">Ajout d'une image</span>
                    </h1>
                </div>
            </div>
            <section class="overlay anim-climb container margin-auto margin-50-top">
                <div class="row">
                    <div class="cell-12">
                        <form class="styled-form flex-form container-tiny margin-auto" action="/update-metadata"
                              method="post"
                              enctype="multipart/form-data">
                            <!-- submit -->
                            <div class="actions-box margin-bottom">
                                <input class="cursor-pointer bg-amethyst width-100 color-yang border-none hover-bg-wisteria"
                                       type="submit" value="Valider" id="submit"/>
                            </div>
                            <!-- image -->
                            <div class="field-box">
                                <div class="file-area">
                                    <input type="file" name="file-to-upload" id="image" accept="image/*"
                                           required="required"/>
                                    <div class="file-dummy">
                                        <span id="defaultTxt">Choisissez un fichier</span>
                                        <img id="imgPreview" class="responsive-img dis-none" src="" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </main>
    {% endblock %}