body {
    /*  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/crissXcross.png");*/
    /*url(https://www.toptal.com/designers/subtlepatterns/patterns/congruent_outline.png)*/
    /*url("https://www.toptal.com/designers/subtlepatterns/patterns/diagmonds.png")*/
}

header {
    width: 30vw;
    max-width: 30vw;
    overflow-y: auto;
}

main {
    margin-left: 30vw;
}

/* like L media from magic monkey */
@media only screen and (max-width: 1200px) {

    header#header {
        position: relative;
        width: 100%;
        max-width: 100%;
    }

    main {
        margin-left: 0;
    }
}